.pageHeader{
    
  font-family: "Audiowide", sans-serif;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width:120%;
  margin-left:-4px;
  background-color: rgb(93, 150, 189);
  font-size: 15px;
  text-shadow: 3px 4px 3px #ababab; 
}
.menuNav{
  text-shadow: none;
}
.footer {
  width: 120%;
  background-color: red;  
  color: white;
  text-align: center;
  display: block;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 1px;
  overflow: hidden;
  border: 1px solid rgb(8, 8, 8);
  background-color: #333;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body {
  font-size: 14px;
  font-family: "Trirong", serif;
  background: rgb(201, 200, 200);
}
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #c7c7c9;
  border: 3px rgb(56, 56, 56) solid;
  padding: 20px;
  margin-bottom: 10%;
  margin-top: 5%;
}
.container1 {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #c7c7c9;
  border: 3px rgb(56, 56, 56) solid;
  padding: 20px;
  margin-bottom: 10%;
  margin-top: 5%;
}
form label {
  min-width: 150px;
  display: block;
  float: left;
  margin-right: 10px;
}
input, select {
  margin-bottom: 10px;
  display: block;
}
h2{
  font-size: 20px;
}
.claimtype{
  overflow: hidden;   
}
button{
  padding: 10px;
  width: 80px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  border-radius: 8px;
}
button:hover {
background:  rgb(37, 221, 37);
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

.tooltip {
  text-align: center;
  border: 0px !important;
  font-size: 13px;
  position: relative;
  display: inline-block;
  background: red;
  padding: 5px 12px;
  margin: 5px;
  border-radius: 100%;
  color: #FFF; 
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: red transparent transparent transparent;
  top: -15px;
   transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: red;
  width: 220px;
  height: max-content;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}
.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% { 
    transform: rotate(2deg);
  }
  50% {
   transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}
@media only screen and (min-width: 641px) and (max-width: 1024px){
.container {
   width:  600px;
}
}
@media screen and (max-width:640px) {   
  .container{
    width: 95%;
    max-width: 95%
  }
  .mini-heading{
      display: none;
  }
}